<div id="container_adm">
	<p class="title_main">Editando outras localidades</p>

	<%= render :partial => 'form' %>
	
	<%= link_to 'Ver', @outras_localidade %> |
	<%= link_to 'Voltar', outras_localidades_path %>
</div>
