<p>
  <b>Nome:</b>
  <%=h @pagina_especial_filtro.nome %>
</p>

<p>
  <b>Url:</b>
  <%=h @pagina_especial_filtro.url %>
</p>


<%= link_to 'Edit', edit_pagina_especial_filtro_path(@pagina_especial_filtro) %> |
<%= link_to 'Back', pagina_especial_filtros_path %>