<p>
  <b>Nome:</b>
  <%=h @conjunto_cidade.nome %>
</p>

<p>
  <b>Url:</b>
  <%=h @conjunto_cidade.url %>
</p>


<%= link_to 'Edit', edit_conjunto_cidade_path(@conjunto_cidade) %> |
<%= link_to 'Back', conjunto_cidades_path %>