
div#menu_topo a.logo{
    background-image: url(../Compre/logo.jpg);
}
ul{ list-style: none; padding: 0px; margin: 0px; }
ul li { padding: 0px; margin: 0px; }
.cleaner { clear: both !important; float: none !important; display: block !important; }
body{  margin: 0px;  padding: 0px;  }

.container { width: 100%; }

.imgTitle {  background: #930606;  height: 60px;  line-height: 30px;  position: absolute;  bottom: 0px;  width: 100%;  padding: 10px;  box-sizing: border-box;  color: #fff;     line-height: 18px; }

/* plugin banner cfg */
.ciSlider {  overflow: hidden;  position: relative;  }
.ciSlider ul {  height: 100%;  position: relative;  }
.ciSlider ul > li {  height: 100%;  float: left; position: relative; }
.ciSlider ul > li a{ width: 100%;  height: 100%; position: absolute; left: 0px;}
.ciSlider ul > li div{  height:100%;  }
.ciSlider ul > li div.sliderTitulo{  position: absolute;  }
.ciSlider ul > li div.img{  background-repeat: no-repeat;  }
/* plugin banner cfg */

div.navBtn {  position: absolute;  bottom: 2%;  }
div.navBtn div {  margin-right: 7px;  display: inline-block;  text-align: center;  background: maroon;  box-sizing: border-box;  border-radius: 17px;  border: 1px solid rgba(255, 255, 255, 0);  width: 10px;  height: 10px;  cursor: pointer;  }
div.navBtn div[data-activenav="active"] {  background-color: white;  border-color: maroon;  }

/* Cfg específica de cada banner */
.bn2, .bn3 {  height: 370px;  float: left; }
.bn2 {  width: 72%; border-right: 1px solid #fff; box-sizing: border-box; }
.bn3 {  width: 28%;  }
#mainSlider ul > li div.img { background-size: 101%;  }
#sSlider div.img {  background-size: 101%; }

.ui-loader { display:  none;  }

/*mosaico cfg*/
ul.mosaico { float: left; width: 43%; }
ul.mosaico li { height: 100%; width: 33.3%; float: left; }
ul.mosaico li .img { background-size: 100% 100% !important; }

li.hasMosaico > .img { width: 57%; float: left; }
li.hasMosaico > a { width: 57% !important; }