<p>
  <b>Titulo:</b>
  <%=h @pontodevenda.titulo %>
</p>

<p>
  <b>Texto:</b>
  <%=h @pontodevenda.texto %>
</p>


<%= link_to 'Edit', edit_pontodevenda_path(@pontodevenda) %> |
<%= link_to 'Back', pontosdevenda_path %>