<p>
  <b>Titulo:</b>
  <%=h @pontodevenda.local %>
</p>

<p>
  <b>Texto:</b>
  <%=h @pontodevenda.endereco %>
</p>


<%= link_to 'Edit', edit_pontodevenda_path(@pontodevenda) %> |
<%= link_to 'Back', '/pontosdevendas' %>