 <% if visor_destaque.data_de_expiracao > DateTime.now() %>
  <div class="swiper-slide<%= " mobile_image" if defined?(visor_destaque.imagem_mobile) and visor_destaque.imagem_mobile? %>">
    <div style="background-image:url('<%=visor_destaque.imagem.url%>');">
      <a href="<%=visor_destaque.link%>" target="<%=visor_destaque.blank==true ? '_blank':'_self'%>"></a>
    </div>
  </div>
<% end %>